@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <img src="~/Images/logo.png" style="margin-top:15px; margin-bottom:15px" />

    <div>
        <div>
            <h2>Welcome to LMYC</h2>
            <p>We are a provincially registered and regulated non-profit organization, which is owned and operated by its members.</p>
            <p>Our mission is to provide our members with Affordable, Safe, and Gratifying recreational sailing experiences.</p>
            <br />
            <h3>Our Members</h3>
            <p>You don't need to own a boat or even know how to sail in order become a member of one of White Rock's best kept secrets – the Lower Mainland Yacht Co-op (LMYC). All you need is an interest in sailing.</p>
        </div>

    </div>

</div>
